PRIMARY_DOMAIN=www.ojmirror.com
ROOT_DOMAIN=ojmirror.com
LETSENCRYPT_EMAIL=you@example.com

WORDPRESS_DB_NAME=mirrorcraft
WORDPRESS_DB_USER=mirrorcraft
WORDPRESS_DB_PASSWORD=change-this-password
MARIADB_ROOT_PASSWORD=change-this-root-password
WORDPRESS_TABLE_PREFIX=wp_
WORDPRESS_DEBUG=0
